// Цвета
$primary-color: #2c6871;
$secondary-color: #3a4f75;
$accent-color: #d0bf85;
$background-color: #f3f1e1;
$text-color: #333;
$header-bg: #fff;

// Шрифты
$base-font: 'Helvetica Neue', Arial, sans-serif;

// Отступы
$spacing-unit: 16px;